<h1 style="text-align: center">URL Report</h1>
<p>
  Welcome to the URL SHortner App! look at the data report: </p>
<table style="color: #2d3748">
  <tr>
    <th>Original Url</th>
    <th>Short</th>
    <th>Clicks</th>
  </tr>
  <% @urls.each do |url| %>
    <tr>
      <td>
        <% if url.pinned%>
          pinned
        <% else %>
          no pin
        <% end %>
      </td>
      <td>
        <%= url.original_url %>
      </td>
      <td>
        <%= "#{root_url}/#{url.slug}"%>
      </td>
      <td>
        <%= url.clicked %>
      </td>
    </tr>
  <% end %>
</table>
